.delete-spot-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 300px;
}

.delete-spot-modal > p {
    font-weight: bold;
}

.delete-spot-modal > button {
    width: 90%;
    margin: 5px;
    height: 40px;


}

.yes-delete {
    background-color: #FF5A5F;
    color: white;
    border-color: #FF5A5F;
}

.no-delete {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}
