 .preview-img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
}



.spots-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1024;
    margin: 35px;
}

.spots-index {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}


  .tooltiptext {
    visibility: hidden;
    width: 10rem;
    background-color: #CCCCCC;
    opacity: 0.8;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}

.spotLink {
    text-decoration: none;
    color: black;
}

.landing-rating {
    display: flex;
    justify-content: flex-end;
    padding-top: 17px;
}
.spot-info {
    display: flex;
    gap: 145px;
}

.landing-price {
   margin-top: 0px;
   font-weight: bold;

}
