.create-review-modal {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 300px;
    width: 400px;
    border-radius: 25px;
}


.review-text {
    padding: 5px;
    width: 350px;
    height: 100px;
    resize: none;

}

.not-rated {
    color: rgb(253, 202, 210);
}

.medium-big-star {
    margin-top: 10px;
    font-size: 30px;
}
.rated {
    color: #ff5A5F;
}

.rating {
    display: flex;
}

.submit-review-button {
    color: white;
    background-color: #ff5A5F;
    width: 150px;
    margin-top: 10px;
    padding: 0 0 3px 10px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.submit-review-button-modal:hover {
    box-shadow: 2px 2px 2px black;
    transition: ease-in .15s;
}
