.spot-page {
    margin: 35px;
}
.spot-name {
    display: flex;
    justify-content: flex-start;
}

.big-img {
    width: 100%;
}

.spot-images {
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
    gap: 8px;

}

.small-images-size {
    height: 97%;
    width: 100%;
}

.preview-img-single {
    height: 100%;
    width: 100%;
}

.small-images {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    gap: 8px;
}

.hosted-reserve {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    border-bottom: 1.5px solid black;
    padding-top: 20px;
    padding-bottom: 10px;

}

.reserve-container {
    display: grid;
    align-content: center;
    /* gap: 10px; */
    border: 1.5px solid black;
    border-radius: 25px;
    height: 150px;

}

.reserve-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;

}

.reserve-button {
    width: 300px;
    height: 50px;
    background-color: #FF5A5F;
    color: white;
    box-shadow: 4px 4px 10px rgb(24, 24, 24);
    font-weight: bold;

}

.reserve-star-reviews {
    display: flex;
    gap: 8px;
    font-weight: bold;
    font-size: 15px;
}

.price-single {
    font-weight: bold;
    font-size: 20px;
}
