.nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #CCCCCC;
    padding: 20px;
    font-size: 14pt;

}

.hidden {
    display: none;
}

.link-home {
    text-decoration: none;
    color: #FF5A5F;
    font-size: large;
    font-weight: bold;
    font-size: 24pt;
}

.link-new {
    text-decoration: none;
    color:  #40359f;
    font-size: 14px;

}
.link-new:hover {
    color: #FF5A5F;
}

li {
    list-style-type: none;
}

.create-spot {
    padding-left: 500px;
}

.home {
    color: #FF5A5F;
}
