


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  border: 1px solid black;
  border-radius: 25px;



}



.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;


}

.login-button-on,
.login-button-off {
    width: 200px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

}

.login-button-on {
  background-color: #FF5A5F;
  color: white;

}


.user-form-input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
  }

  .demo-user {
    color: purple;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 50px;
  }

  .demo-user:hover {
    font-weight: bold;
  }
